<div class="container-fluid">
  <div class="description">
    <h1>
      <b><i>Need It.</i></b>
    </h1>

    <h1>
      <b><i>Get It.</i></b>
    </h1>

    <h2>Now get your loan approved instantly.</h2>
  </div>
  <!-- <h3>ADMIN LOGIN</h3>
    <div class="form-group">
      <label for="userName">userName</label>
      <input type="text" required class="form-control" [(ngModel)]="adminloginObj.userName">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" required class="form-control" [(ngModel)]="adminloginObj.password">
    </div>
    <button class="btn btn-primary" type="submit">LOGIN</button>     -->

  <form class="loginform" [formGroup]="loginForm" (ngSubmit)="userLogin()">
    <div class="form-group">
      <h3><b>LOGIN</b></h3>
    </div>
    <div class="form-group">
      <label for="userName"><b>Username</b></label>
      <input type="text" required class="form-control" formControlName="userName" [(ngModel)]="user.userName"/>
      <div
        class="form-text text-danger err"
        *ngIf="userName.errors?.['required'] && (userName.dirty || userName.touched)"
      >
        Please enter username.
      </div>
    </div>
    <div class="form-group">
      <label for="password"><b>Password</b></label>
      <input
        type="password"
        required
        class="form-control"
        formControlName="password"
        [(ngModel)]="user.password"
      />
      <div
        class="form-text text-danger err"
        *ngIf="Password.errors?.['required'] && (Password.dirty || Password.touched)"
      >
        Please enter password.
      </div>
    </div>
    <button class="btn btn-primary" type="submit">
      <b>LOGIN</b>
    </button>
    <p>
      Not a Member? <a routerLink="/signup"><b>Create an account</b></a>
    </p>
  </form>
</div>
