<div class="container-fluid">
    <div class="application-description">
      <h2><b>Welcome,</b></h2>
      <h2><b>Now get your loan approved instantly !</b></h2>
      <br>
      <h4>
        Welcome to ABC Bank Loan processing system. Now get your loan approved
        immediately using this cool and fully automated application.
      </h4>
    </div>
    <div class="application-action">
      <div>
        <h5>
          In order to submit a new loan request, click on "Submit an application"
          link below.
        </h5>
        <button class="btn btn-primary" routerLink="/userdetails"><b>SUBMIT AN APPLICATION</b></button>
      </div>
      <!-- <div>
        <h5>
          To complete a Draft application, click on "Draft Applications" below.
        </h5>
        <button class="btn btn-primary"><b>DRAFT APPLICATIONS</b></button>
      </div> -->
      <div>
        <h5>
          For viewing existing loan applications, click on "View Applications" link below.
        </h5>
        <button class="btn btn-primary" routerLink="/viewapplications"><b>VIEW APPLICATIONS</b></button>
      </div>
    </div>
  </div>
